<p id="notice"><%= notice %></p>

<header>
  <span>BestWishes</span>
  <div class="nav-icon">
    <a href="<%= posts_path %>"><i class="fas fa-home"></i></a>
    <a href="<%= new_post_path %>"><i class="fas fa-pencil-alt"></i></a>
    <a href="#" "profile"><i class="fas fa-user"></i></a>
  </div>
</header>