<p id="notice"><%= notice %></p>

<header>
  	<a href="<%= root_path %>"><span>BestWishes</span></a>
  <div class="nav-icon">
    <a href="<%= new_post_path %>"><i class="fas fa-pencil-alt"></i></a>
    <a href="#" "profile"><i class="fas fa-user"></i></a>
  </div>
</header>