// header

header {
	height: 40px;
	width: 100%;
	background-color: #98D5E6;
	padding-top: 16px;
}

header > span {
	margin-left: 16px;
	font-family: 'Abril Fatface', cursive;
	font-size: 24px;
}

.nav-icon {
	float: right;
	display: inline;
	margin-right: 18px;
}

.nav-icon > a {
	font-size: 24px;
	margin-left: 32px;
}

// new
content {
	width: 100%;
	text-align: center;
}

.title-icon > i {
	font-size: 64px;
	color: #98D5E6;
	margin-top: 24px;
	margin-bottom: 16px;
}

