header {
	height: 34px;
	width: 1024px;
	background-color: #98D5E6;
	padding-top: 14px;
}

header > span {
	margin-left: 16px;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
}

.icon {
	display: inline;
	margin-left: 810px;
}

.icon > a {
	margin-left: 16px;
}

