<div class="projector">
<ul id="sample2" class="text">
   <li>2011/01/01 サンプルテキストその１です。</a></li>
   <li>2011/02/02 <a href="index.html">もちろんテキストリンクもできます。</a></li>
   <li>2011/03/03 一行ニュースリリースなどに最適です。</a></li>
   <li>2011/04/04 サンプルテキストその４です。</a></li>
   <li>2011/05/05 サンプルテキストその５です。<a href="index.html">最後のテキストです。</a></li>
</ul>
</div>